<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ruru.android_slidingconflictdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sameDirection.SRL_RV" />
        <activity android:name=".sameDirection.SRL_SV" />
        <activity android:name=".sameDirection.SV_RV" />
        <activity android:name=".sameDirection.VP_VP" />
        <activity android:name=".differentDirection.SRL_VP" />
        <activity android:name=".differentDirection.SV_VP" />
        <activity android:name=".differentDirection.LV_VP" />
        <activity android:name=".differentDirection.VP_LV" />
        <activity android:name=".differentDirection.HSV_LV" />
        <activity android:name=".test.MethodTestActivity" />
        <activity android:name=".differentDirection.VP_SV"></activity>
    </application>

</manifest>